.allBirds-container {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding-bottom: 30vw;
}

.no-lifers {
	padding: 15vw;
	font-size: 2em;
	min-height: 100vw;
}
