.App {
	background-color: #f9f5f0;
	text-align: center;
	color: #454545;
}

.check-out-tag {
	text-align: left;
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 20px;
	color: #cc7178;
}

.coming-soon, .no-match{
	height: 100vw;
	color:  #cc7178;
	font-size: 20px;
}

a:link {
	color: #454545;
	text-decoration: none;
}

a:visited {
	color: #454545;
}

h4 {
	color: #7c7c7c;
}

#logo {
	height: 15vw;
}

footer {
	padding: 1em;
	background-color: #434343;
}

.check-out-tag {
	padding: 2em;
}
