.select-bird-p {
	padding: 1em;
	font-size: 1.5em;
	font-style: italic;
	text-align: left;
	color: #cc7178;
}

/* 
.family-title{
	font-size: 25px;
	text-align: left;
	font-weight: bold;
	padding: 20px;
} */

#filterFamilyLabel {
	padding: 1em;
	font-size: 1.5em;
}
