.navigation {
	height: 14vw;
	background-color: #454545;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-div {
	background-color: #454545;
	color: #f9f5f0;
}

.title {
	font-size: 2.5em;
}
h4 {
	/* color: #cc7178; */
	font-size: 1.22em;
}
.nav-buttons {
	border-radius: 0.5em;
	height: 8em;
	width: 33em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.learn-link,
.home-link,
.addBird-link,
.lifers-link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.2em;
	border-radius: 0.5em;
	height: 3em;
	width: 8em;
	font-weight: bolder;
	transition: 500ms;
	background-color: #f7ede2;
}

.learn-link:hover,
.home-link:hover,
.addBird-link:hover,
.lifers-link:hover {
	transition: 2000ms;
	transform: translateY(10%);
	background-color: #cc7178;
	color: #454545;
	border-color: #cc7178;
}

#logo {
	height: 15vw;
}
