.navigation {
	height: 10vw;
	background-color: #454545;
	padding: 1em;
	/* color: white; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background: linear-gradient(90deg, rgba(5,2,56,1) 0%, rgba(136,0,255,1) 49%, rgba(24,9,121,1) 78%); */
	/* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
}
.title-div {
	background-color: #454545;
	color: #f9f5f0;
}

.title {
	font-size: 45px;
}

.nav-buttons {
	border-radius: 0.5em;
	height: 8em;
	width: 33em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.learn-link,
.home-link,
.addBird-link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.2em;
	border-radius: 0.5em;
	height: 3em;
	width: 8em;
	font-weight: bolder;
	transition: 500ms;
	background-color: #f7ede2;
}

.learn-link:hover,
.home-link:hover,
.addBird-link:hover {
	transition: 2000ms;
	transform: translateY(10%);
	background-color: #cc7178;
	color: #454545;
	border-color: #cc7178;
}
